@page "/WinDel"
@rendermode InteractiveServer

<PageTitle>Pamadro for Windows</PageTitle>

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">

        <div class="text-center">
            <img src="images/Tomato_256.png" alt="Pamadro" class="img-fluid" />
            <h3>Simple Pomodoro technique timer to boost your productivity</h3>

            <p>
                What is Pomodoro technique? Well, it's a time management method which allows you stop wasting time (procrastinate).
                Just start timer, work, take a break, work, break, work and so on. It really helps people.
                <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Learn more</a> about it on
                Wikipedia.
            </p>
            <img src="images/pamadroWinDel.png" alt="Pamadro" />
            <p></p>
            <p><a href="data/Pamadro.exe">Download</a></p>
            <p>No installation required.</p>
            <p>Tested on Windows 10.</p>

            <p>If you want to try online version of the Pamadro please <a href="/">come here.</a></p>

        </div>

    </div>
    <div class="col-2">
    </div>
</div>

@code {

}
